.inputlabel {
    width: 25%;
    float: left;
    font-size: 14px;
    line-height: 36px;
  }
  .elinput {
    width: 50%;
    float: left;
  }
  .selectlabel {
    width: 25%;
    float: left;
    font-size: 17px;
    line-height: 36px;
  }
  .elselect {
    width: 50%;
    float: left;
  }
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.el-col-4{
  padding-bottom: 15px;
  box-sizing: border-box;
}
.el-col-3{
  padding-bottom: 15px;
  box-sizing: border-box;
}
.el-col-5{
  padding-bottom: 15px;
  box-sizing: border-box;
}
.el-col-6{
  padding-bottom: 15px;
  box-sizing: border-box;
}
.hidden{
  display: none;
}
.inputlabel{
  width: 40%;
}
.header-btn{
  margin-left: 10px;
  box-sizing: border-box;
  padding: 3px 0 0 5px;
}
.selectlabel{
  width: 30%;
}